<div class="footer">
    <div class="contain">
        <div class="col links-footer">
            <h1>Quick Links</h1>
            <ul>
                <li><a class="no-decoration-link" href="https://hcmiu.edu.vn/">International University Homepage</a></li>
                <li><a class="no-decoration-link" href="https://hcmiu.edu.vn/khoa-va-bo-mon/">School and Departments</a></li>
                <li><a class="no-decoration-link" href="https://hcmiu.edu.vn/phong-ban-va-trung-tam/">Offices and Centers</a></li>
            </ul>
        </div>
        <div class="col links-footer">
            <h1>Career links</h1>
            <ul>
                <li><a class="no-decoration-link" href="https://hcmiu.edu.vn/">About us</a></li>
                <li><a class="no-decoration-link" href="/how-to-apply">How to apply</a></li>
                <li><a class="no-decoration-link" href="/job-listing">Available Positions</a></li>
            </ul>
        </div>
        <div class="col info-footer">
            <h1>OFFICE OF HUMAN RESOURCES MANAGEMENT</h1>
            <ul>
                <li>Room O2-709A</li>
                <li>INERNATIONAL UNIVERSITY</li>
                <li>Quarter 6, Linh Trung Ward, Thu Duc District, HCMC</li>
                <li>Tel: (028) 37244270 (ext: 3527)</li>
                <li>Fax: (028) 37244271</li>
                <li>
                    Email: <i class="fa fa-envelope mail-icon"></i> <a href="mailto:recruitment@hcmiu.edu.vn"
                                                                        class="email">recruitment@hcmiu.edu.vn</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer-bottom">Copyright 2019 by International University</div>
</div>
