
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "How to apply";
}

<!--Content-->
<div class="content">
    <main>
        <h3 class="section-title-lg">How to apply</h3>
        <p>
            Please send your application documents in English to this email: <i class="fa fa-envelope mail-icon"></i> <a href="mailto:recruitment@hcmiu.edu.vn" class="email">
                recruitment@hcmiu.edu.vn
            </a> or click on the title of the position you are interested in and
            click on the " Apply" at Job listing page.
        </p>
        <p>The application includes:</p>
        <ol>
            <li>Curriculum Vitae</li>
            <li>Motivation letter</li>
            <li>Degrees, certificates</li>
            <li>3x4cm photo (01 print)</li>
        </ol>
        <p>Application sent to:</p>
        <p><b>Office of Human Resources Management (A2-709A)</b></p>
        <p>The International University</p>
        <p>Quarter 6, Linh Trung Ward, Thu Duc District, Ho Chi Minh City.</p>
        <p>Tel: 08 37244270 (Ext: 3527)</p>
        <p>
            Email: <i class="fa fa-envelope mail-icon"></i> <a href="mailto:recruitment@hcmiu.edu.vn" class="email">
                recruitment@hcmiu.edu.vn
            </a>
        </p>
    </main>
</div>
<!--///Content-->
