

<div class="content">
    <div class="intro">
        <p>Welcome to the IU recruitment page</p>
        <p>
            The International University (IU) is determined to become a research university with state-of-the-art
            equipment, resources, and facilities to meet the need of instruction and research. IU aims to
            graduate
            students with excellent expertise and language
            skills to work in the country and abroad, contributing to the industrialization and modernization of
            Ho
            Chi Minh City and the country. IU has well-qualified and dedicated faculty and staff, and is seeking
            to
            appoint more full-time and part-time
            lecturers in the years to come.
        </p>
        <span>
            <a href="http://www.hcmiu.edu.vn/Portals/1/Docs/recruitment-process-IU.pdf" class="file">
                <img src="~/Assets/client/img/icon_pdf.png" /> Recruitment Process
            </a>
        </span>
    </div>
</div>
