
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script
{
    <script src="~/Assets/admin/js/controller/applicationController.js"></script>
}

    <div class="title-addnew">
        <h3 class="section-title-lg">Manage Applications</h3>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <a class="btn btn-danger pull-right" id="btnDeleteAll" style="color: white;" href="#"><i class="fa fa-trash"></i> Delete All</a>            
        </div>
    </div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="bg-dark">
                <th style="width: 5%"><input type="checkbox" id="chkAll" /></th>
                <th scope="col">#</th>
                <th scope="col"><a href="#" class="sort-table" id="btnFullname">Full Name</a></th>
                <th scope="col"><a href="#" class="sort-table" id="btnDepartment">Department</a></th>
                <th scope="col"><a href="#" class="sort-table" id="btnPosition">Applied Position</a></th>
                <th scope="col">Date Applied</th>
                <th scope="col">CV</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="tblApplicants"></tbody>
    </table>
    <script id="template" type="x-tmpl-mustache">
        <tr>
            <td><input type="checkbox" class="chkDelete" data-id={{ID}} /></td>
            <td>{{Index}}</td>
            <td><a href="/Admin/Application/ViewApplicant/{{ID}}">{{Fullname}}</a></td>
            <td>{{Department}}</td>
            <td>{{AppliedPosition}}</td>
            <td>{{{DateApplied}}}</td>
            <td>{{{ResumeURL}}}</td>
            <td class="action-icon">
                <a href="#"><i class="fa fa-trash fa-lg btnDelete" data-id="{{ID}}" data-toggle="tooltip" title="Delete"></i></a>
            </td>
        </tr>
    </script>
</div>

