<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="lmthien@hcmiu.edu.vn"/>
  <add key="FromEmailPassword" value="wfhqmmxnhovxjsjo"/>
  <add key="FromName" value="IU Recruitment"/>
  <add key="CurrentLink" value="http://localhost:53191/"/>
  <add key="EnableBundles" value="false"/>

  <add key="ConfirmSendingApplication" value="/Assets/admin/mail_templates/confirm_sending_application.html"/>
  
  <add key="PageSize" value="10"/>
  <add key="MaxPage" value="5"/>


</appSettings>